
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root {
  padding: 0;
}

nav a {
  color: white;
}

nav a:hover {
  color: #339beb;
  transform: scale(1.1);
}

nav {
  z-index: 100;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0.5em 10em;
}

#home {
  height: 100vh;
  background-image: url('./assets/darkbackground.png');
  background-size: cover;
}

.homeTitle {
  height: 100vh;
  color: rgb(216, 216, 216);
  background-color: rgba(27, 27, 27, 0.700);
}

h2 {
  color: #339beb;
  font-size :3.5em;
  font-weight: 700;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
